# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pdb

# VS Code
.vscode/

# Build folders
build/
bin/
Debug/
Release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Logs
*.log